* {
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

html {
    font-size: 12px;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(217, 197, 236);
    color: rgb(78, 21, 21);
    justify-content: center;
    align-items: center;
}

p {
    font-size: 1.6rem;
    line-height: 2;
}

img {
    width: 100%;
}

.container {
    max-width: 900px;
    margin:0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-box {
    width: 600px;
    margin: 0 auto;
    background-color:rgb(175, 128, 219);
    padding: 1rem 5rem 5rem 5rem;
    border: 3px solid rgba(150, 56, 150, 0.863);
    border-radius: 5px;
}

.quiz-box h1 {
    background-color: rgb(95, 55, 133);
    color: rgb(184, 52, 52);
    font-size: 4rem;
    text-align: center;
    color:rgb(60, 32, 85);
    padding: 1rem 0;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 3px;
}

header h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-header #progress {
    color: rgb(131, 37, 37);
    font-size: 1.6rem;
    font-weight: 700;
}

.quiz-header #count-down {
     font-size: 1.6rem;
     font-weight: 700;
     background-color: rgb(112, 53, 168);
     padding: 5px;
     margin: 1px;
     color: rgb(172, 154, 154);
     border-radius: 3px;
}

.quiz-box #question {
      font-size: 1.8rem;
      font-weight: 600;
      color:rgb(245, 245, 245);
      border: 1px solid white;
      border-width: 1px 0;
}

.buttons {
    margin: 1.5rem  0 4rem 0;
}

.btn {
    text-align: left;
    background-color: rgb(255, 255, 255);
    width: 100%;
    font-size: 1.8rem;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    margin: 7px 0;
    padding: 1rem;
    outline: none;
}

.btn:hover {
    cursor: pointer;
    background-color:rgb(170, 88, 170);
    color: white;
}

.btn:active {
    background-color:rgb(90, 36, 90);
}

#score {
    color: black;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;
}

.quiz-repeat {
    text-align: center;
    margin: 0 auto;
}


.quiz-repeat {
    font-size: 4.6rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    background-color: blueviolet;
    padding: 1rem;border-radius: 5px;
    transition: all .3s;
}

.quiz-repeat a:hover {
    background-color: rgb(83, 47, 116);
}

.start-btn {
    width: 300px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    justify-content: center; 
    text-align: center;
    align-items: center;
}

.next-btn {
    width: 300px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    justify-content: center; 
    text-align: center;
    align-items: center;
}

.hide {
    display: none;
}

head {
    justify-content: center;

}

.timer {
    font-size: 1.4rem;
    display: flex;
    justify-content: flex-end;
}

.question-title {
    font-size: 2rem;
    
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}